env:
  TERM: xterm-256color

window:
  padding:
    x: 4
    y: 0

scrolling:
  history: 10000
  multiplier: 3

mouse:
  hide_when_typing: true

font:
  normal:
    family: SpaceMono Nerd Font
    style: Regular
  bold:
    family: SpaceMono Nerd Font
    style: Bold
  italic:
    family: SpaceMono Nerd Font
    style: Italic
  size: 17.0
  offset:
    x: 0
    y: 0
  glyph_offset:
    x: 0
    y: 0
  use_thin_strokes: true

draw_bold_text_with_bright_colors: false

color_schemes:
  deep_nord: &deep_nord
    primary:
      background: "#22262e"
      foreground: "#d8dee9"
      dim_foreground: "#a5abb6"
    cursor:
      text: "#22262e"
      cursor: "#d8dee9"
    vi_mode_cursor:
      text: "#22262e"
      cursor: "#d8dee9"
    selection:
      text: CellForeground
      background: "#4c566a"
    search:
      matches:
        foreground: CellBackground
        background: "#88c0d0"
      bar:
        background: "#434c5e"
        foreground: "#d8dee9"
    normal:
      black: "#3b4252"
      red: "#bf616a"
      green: "#a3be8c"
      yellow: "#ebcb8b"
      blue: "#81a1c1"
      magenta: "#b48ead"
      cyan: "#88c0d0"
      white: "#e5e9f0"
    bright:
      black: "#4c566a"
      red: "#bf616a"
      green: "#a3be8c"
      yellow: "#ebcb8b"
      blue: "#81a1c1"
      magenta: "#b48ead"
      cyan: "#8fbcbb"
      white: "#eceff4"
    dim:
      black: "#373e4d"
      red: "#94545d"
      green: "#809575"
      yellow: "#b29e75"
      blue: "#68809a"
      magenta: "#8c738c"
      cyan: "#6d96a5"
      white: "#aeb3bb"

colors: *deep_nord

