add_newline = false
[line_break]
disabled = true

[git_branch]
symbol = "ï˜ "

[aws]
disabled = true

[nodejs]
disabled = true

[rust]
disabled = true

[package]
disabled = true

[golang]
disabled = true

[git_status]
disabled = true

[kubernetes]
format = '[$context \($namespace\)](dimmed blue) '
disabled = true
detect_folders = ["kubernetes"] # there is a kubernetes folder in pocus
